/*  the whole page is centered
    since everything is within the div 'container' has the auto margins*/

#container {
    width:     800px;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    color: ;
}

#header {
    background-color:gold;
    text-align: center;
}

#menu {
    width:     20000px;
    background-color: blue;
    margin-left:   0px;
}

/*This is an extra style element that will change all 'a href' tags to the values below*/
a {
    font-size:  20px;
    text-decoration: none;
    color: gold;
}
a:hover {
    color: white;
    text-decoration: none;
}